<nav class="closed">
  <ul class="nav-list">
    <li style="height:56px"><span></span><a><b>Creative Problem Solving</b></a></li>
    <li><span><i class="fas fa-home"></i></span><a href="/">HOME</a></li>
    <li><span><i class="fas fa-users"></i></span><a href="/team.html">TEAM</a></li>
    <li><span><i class="fas fa-envelope"></i></span><a href="/contact.html">CONTACT</a></li>
    <li><span><i class="fas fa-project-diagram"></i></span><a href="/projects.html">PROJECTS</a></li>
  </ul>
  <div class="nav-toggle">
    <div class="toggle">
      <hr>
      <hr>
    </div>
  </div>
</nav>
<script type="text/javascript" src="/assets/js/nav.js"></script>
