@font-face {
  font-family: Sen;
  src: url(/assets/fonts/Sen/Sen-Regular.ttf)
}

body {
  margin: 0;
  padding: 0;
  padding-left: 52px;

  font-family: "Sen", sans-serif;
}

.page-content {
  min-height: calc(100vh - 51px);
  overflow: scroll;
}

h1 {
  margin: 0;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
